<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3321006469806168~2800259705</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Konumunuz il tespiti ve kibla yonu hesaplamasi icin kullanilir.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Konum verisi sadece namaz ve kibla deneyimini iyilestirmek icin kullanilir.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
